/* css style for contact header */

.con_tainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

.contactImage {
  width: 70px;
  height: 70px;
  /* UI Properties */
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-bottom: 5px;
}

.contactHeader {
  text-align: left;
  font: normal normal 600 48px/40px Kantumruy Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 0;
}

.contactDescription {
  width: 675px;
  height: 85px;
  text-align: center;
  margin-bottom: 0;

  font: normal normal normal 28px/35px Kantumruy Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

/* css style for the input part */
.inputGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 12px 0px;
  border-radius: 8px;
  padding: 0px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.labeledInput {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.label {
  align-self: flex-start;
  text-align: left;
  font: normal normal 500 25px/40px Kantumruy Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.inputContainer {
  display: flex;
  height: 70px;
  /* UI Properties */
  background: #dfdfdf 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  margin: 0;
  padding: 0;
}

.black-con {
  display: flex;
  width: 70px;
  height: 70px;
  align-items: center;
  justify-content: center;
  /* UI Properties */
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 15px 0px 0px 15px;
  opacity: 1;
}

.black-con img {
  width: 28px;
  height: 28px;

  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.ideaImage {
  width: 22px !important;
  height: 22px;
  /* UI Properties */
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.inputField {
  width: 435px;
  background: #dfdfdf 0% 0% no-repeat padding-box;
  border-radius: 15px;
  text-align: left;
  font: normal normal normal 23px/40px Kantumruy Pro;
  letter-spacing: 0px;
  color: #444444;
  padding-left: 20px;
  opacity: 1;
  border: none;
  outline: none;
}

.inputField::placeholder {
  color: #444444;
}

/* css style for message box */

/* .message-container {
  position: relative;
  width: 100%;
  max-width: 1080px;
  margin: 0;
} */

.message-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.message-box {
  width: 1050px;
  max-width: 1050px;

  height: 260px; /* Adjust height as needed */
  padding: 20px;
  font: normal normal normal 25px/40px "Kantumruy Pro", sans-serif;
  letter-spacing: 0px;
  background: #dfdfdf 0% 0% no-repeat padding-box;
  border-radius: 15px;
  color: #444444;
  opacity: 1;
  text-align: left;
  border: none;
  outline: none;
  resize: none;
}

.message-box::placeholder {
  color: #444444;
}

.send-button {
  height: 70px;
  align-self: flex-end;
  color: white;
  font: normal normal 500 28px/40px Kantumruy Pro;
  letter-spacing: 0px;
  padding: 10px 20px;
  margin-top: 60px;

  border: none;
  background: #8967b3 0% 0% no-repeat padding-box;
  border-radius: 15px;
  cursor: pointer;
  opacity: 1;
}

.send-button:hover {
  background: #71569b;
}
