/* LoginPage.css */

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.login {
  background: #ffffff;
  padding: 25px 20px;
  border-radius: 16px;
  height: auto;
  /* max-width: 700px; */
  width: 78%;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #ffffff 0% 0% no-repeat padding-box;
  gap: 62px;
  margin-left: 40px;
}

.headerImage {
  align-self: center;
  width: 55px;
  height: 55px;
  /* UI Properties */
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.headerText {
  align-self: center;
  text-align: left;
  font: normal normal 600 43px / 40px Kantumruy Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.inputGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 12px 12px;
  border-radius: 8px;
  padding: 0px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.labeledInput {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.label {
  align-self: flex-start;
  text-align: left;
  font: normal normal 500 25px/40px Kantumruy Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.inputContainer {
  display: flex;
  height: 70px;
  /* UI Properties */
  background: #dfdfdf 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  margin: 0;
  padding: 0;
}

.black-con {
  display: flex;
  width: 70px;
  height: 70px;
  align-items: center;
  justify-content: center;
  /* UI Properties */
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 15px 0px 0px 15px;
  opacity: 1;
}

.black-con img {
  width: 22px;
  height: 22px;
  /* UI Properties */
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

/* .icon {
  color: #999999;
  margin-right: 8px;
} */

.inputField {
  width: 450px;
  background: #dfdfdf 0% 0% no-repeat padding-box;
  border-radius: 15px;
  text-align: left;
  font: normal normal normal 28px/40px Kantumruy Pro;
  letter-spacing: 0px;
  color: #444444;
  padding-left: 20px;
  opacity: 1;
  border: none;
  outline: none;
}

.passwordField {
  width: 380px;
}

.toggleButton {
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
  border: none;
  padding-right: 20px;
  color: black;
}

.forgotPassword {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding-right: 40px;
}

.forgotPassword p {
  background: #ffffff 0% 0% no-repeat padding-box;
  font: normal normal normal 18px/34px Kantumruy Pro;
  letter-spacing: 0px;
  color: #000000;
}

.buttonPrimary {
  background: #8967b3 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 15px;
  opacity: 140px;
  font: normal normal 500 28px/40px Kantumruy Pro;
  letter-spacing: 0px;
  color: #ffffff;
  cursor: pointer;
  width: 140px;
}

.buttonPrimary:hover {
  background: #6b51e0;
}

.resetLink {
  text-align: left;
  font: normal normal 600 18px/34px Kantumruy Pro;
  letter-spacing: 0px;
  color: #000000;
  align-self: center;
  padding-right: 15px;
  text-decoration: underline; /* Adds the underline */
  text-underline-offset: 10px; /* Adjusts the distance of the underline from the text */
  text-decoration-color: #8967b3; /* Change the color of the underline */
  text-decoration-thickness: 2px;
}

.resetLink:hover {
  text-decoration: underline;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-left: 40px;
}

.customCheckbox {
  display: none;
}

.customCheckbox + label {
  position: relative;
  cursor: pointer;
  padding-left: 40px; /* Space for custom image */
}

.customCheckbox + label::before {
  content: "";
  position: absolute;
  border-radius: 5px;
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background: #dfdfdf 0% 0% no-repeat padding-box;
}

.customCheckbox:checked + label::before {
  background: url("/public/img/checkmark.svg") no-repeat center/cover;
  background-color: #dfdfdf;
  padding-left: 0px;
}

.checkboxText {
  margin-left: 8px;
  text-align: left;
  font: normal normal normal 20px/34px Kantumruy Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.sectionBreak {
  display: flex;
  margin: 25px;
  gap: 25px;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  font: normal normal 500 20px/30px Kantumruy Pro;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.sectionBreak p {
  font: normal normal 500 20px/30px Kantumruy Pro;
  width: 200px;
}

.sectionDivider {
  display: inline-flex;
  width: 420px;
  height: 4px;
  /* UI Properties */
  background: #dfdfdf 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
}

.socialLoginButton {
  display: inline-flex;
  align-self: center;
  align-items: center;
  justify-content: center;

  background: #4285f4 0% 0% no-repeat padding-box;
  color: white;
  border: none;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 15px;
  width: 450px;
  cursor: pointer;
  font: normal normal 500 24px/40px Kantumruy Pro;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.googleIcon {
  margin: 0;
  padding-right: 20px;
}

.socialLoginButton:hover {
  background: #3367d6;
}
