/* style for posts */

.statusHeader {
  margin-top: 50px;
  text-align: center;
  font: normal normal 500 48px/40px Kantumruy Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.platformStatus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 55px;
  margin-bottom: 55px;
}

.statusImage {
  width: 130px;
  height: 114px;
  /* UI Properties */
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.postHeader {
  padding-top: 20px;
  margin-bottom: 0;
  text-align: center;
  font: normal normal 600 48px/40px Kantumruy Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.postInfo {
  width: 316px;
  height: 77px;
  text-align: center;
  font: normal normal normal 26px/33px Kantumruy Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.parent-container {
  margin-bottom: 0;
}
