.tags-holder {
  /* width: 1519px; */
  height: 400px;
  background: #f7f7f7 0% 0% no-repeat padding-box;
  opacity: 1;
}

.tags-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 92px;
  row-gap: 30px;
  /* width: 1519; */
  padding-left: 76px;
  /* UI Properties */
  background: #f7f7f7 0% 0% no-repeat padding-box;
  opacity: 1;
}
/* .tag-main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  padding-bottom: 10px;
} */
.tag-card {
  /* Add some spacing between rows */
  display: flex;
  flex-direction: column; /* Ensures the title and tags-info stack vertically */
  justify-content: space-evenly; /* Aligns content at the top */
  row-gap: 0px; /* Adds spacing between title and tags-info */
  width: 360px;
  /* padding: 10px; */
  height: 116px;
  /* margin-bottom: 40px; */
  /* UI Properties */
  background: #dfdfdf 0% 0% no-repeat padding-box;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  opacity: 1;
  padding-left: 22px;
  margin: 0px;
}
.tags-pagination {
  display: flex;
  justify-content: space-between;
  font: normal normal 500 20px/40px Kantumruy Pro;
  background: #f7f7f7 0% 0% no-repeat padding-box;
}
.tagsPageHeader {
  text-align: left;
  padding-left: 76px;
  font: normal normal 500 40px/40px Kantumruy Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.tags-pagination-arrow {
  display: flex;
  margin-right: 42px;
  margin-top: 11px;
  padding: 0px;
  /* width: 200px; */
  /* flex-wrap: nowrap; */
}

p {
  font: normal normal 500 18px/40px Kantumruy Pro;
  padding: 0;
}

.moreTags {
  border-bottom: 5px solid #8967b3;
  padding-bottom: 7px;
}

.tags-info {
  display: flex;
  align-items: center; /* Aligns child elements vertically */
  justify-content: flex-start; /* Aligns child elements to the left */
  column-gap: 13px; /* Adds horizontal spacing between h5, image, and h5 */
  list-style: none;
  padding: 0px;
  margin: 0;
}
.tags-info h5 {
  font: normal normal normal 23px/40px Kantumruy Pro; /* Adjust font size and line-height */
  margin: 0; /* Removes default margin */
}

.tag-container {
  display: flex;
  margin: 0;
  padding: 0;
}
.black {
  width: 17px;
  height: 111px;
  /* UI Properties */
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 20px 0px 0px 20px;
  opacity: 1;
  padding-bottom: 5px;
}
.tags-title {
  font: normal normal 500 29px/40px Kantumruy Pro;
  margin: 0;
}
.dot {
  /* top: 1253px;
    left: 867px; */
  width: 6px;
  height: 6px;
  /* UI Properties */
  /* background: transparent url('img/Ellipse 2.png') 0% 0% no-repeat padding-box; */
  opacity: 1;
}
.arow-icon {
  /* Layout Properties */

  width: 13px;
  height: 21px;
  padding: 20px;
  margin-bottom: 20px;
  /* UI Properties */
  background: transparent 0% 0% no-repeat padding-box;
  border: none;
  opacity: 1;
  align-self: center;
}
