/* Container and Page Layout */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
  padding: 0px;
  margin: 0;
}

.card {
  background: #ffffff;
  width: 90%;
  max-width: 1100px;
  padding: 30px 30px;
  text-align: center;
}

.companyContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* UI Properties */
  background: #f7f7f7 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;

  margin-bottom: 20px;
}

.companyLogo {
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  /* UI Properties */
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 15px 0px 0px 15px;
  opacity: 1;
}

.companyHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  width: 660px;
  height: 100px;
  font: normal normal normal 20px/42px Kantumruy Pro;
}

.companyHeader p {
  text-align: left;
  font: normal normal normal 20px/42px Kantumruy Pro;
  letter-spacing: 0px;
  color: #000000;
}

.freelancerIcon {
  width: 28px;
  height: 34px;
  /* UI Properties */
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.companyIcon {
  width: 41px;
  height: 40px;
}

.freelancerLink {
  font: normal normal 600 20px/42px Kantumruy Pro;
  letter-spacing: 0px;
  color: #000000;
  text-decoration: underline; /* Adds the underline */
  text-underline-offset: 9px; /* Adjusts the distance of the underline from the text */
  text-decoration-color: #8967b3; /* Change the color of the underline */
  text-decoration-thickness: 2px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #ffffff 0% 0% no-repeat padding-box;
  gap: 40px;
  margin: 40px 0px 0px 12px;
}

/* Header Styles */
.headerText {
  align-self: center;
  text-align: left;
  font: normal normal 600 43px / 40px Kantumruy Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.headerImage {
  align-self: center;
  width: 56px;
  height: 56px;
  /* UI Properties */
  /* background: transparent 0% 0% no-repeat padding-box; */
  opacity: 1;
}

/* Form Input Groups */
.inputGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 20px 12px;
  margin-bottom: 40px;
  border-radius: 8px;
  padding: 0px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.label {
  align-self: flex-start;
  text-align: left;
  font: normal normal 500 25px/40px Kantumruy Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.inputContainer {
  display: flex;
  height: 70px;
  /* UI Properties */
  background: #dfdfdf 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  margin: 0;
  padding: 0;
}

.passwordContainer {
  display: flex;
  width: 500px;
  height: 70px;
  /* UI Properties */
  background: #dfdfdf 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  margin: 0;
  padding-right: 15px;
}

.labeledInput {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.domainPrefix {
  font: normal normal normal 24px/40px Kantumruy Pro;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.black_container {
  display: flex;
  width: 70px;
  height: 70px;
  align-items: center;
  justify-content: center;
  /* UI Properties */
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 15px 0px 0px 15px;
  opacity: 1;
}

.black_con {
  display: flex;
  width: 85px;
  height: 70px;
  align-items: center;
  justify-content: center;
  /* UI Properties */
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 15px 0px 0px 15px;
  opacity: 1;
  padding: 0 15px;
}

.inputField {
  width: 422px;
  background: #dfdfdf 0% 0% no-repeat padding-box;
  border-radius: 15px;
  text-align: left;
  font: normal normal normal 28px/40px Kantumruy Pro;
  letter-spacing: 0px;
  color: #444444;
  padding-left: 20px;
  opacity: 1;
  border: none;
  outline: none;
}

.inputpassword {
  width: 380px;
  background: #dfdfdf 0% 0% no-repeat padding-box;
  border-radius: 15px;
  text-align: left;
  font: normal normal normal 28px/40px Kantumruy Pro;
  letter-spacing: 0px;
  color: #444444;
  padding-left: 20px;
  opacity: 1;
  border: none;
  outline: none;
}

.inputDomain {
  width: 380px;
  background: #dfdfdf 0% 0% no-repeat padding-box;
  border-radius: 15px;
  text-align: left;
  font: normal normal normal 28px/40px Kantumruy Pro;
  letter-spacing: 0px;
  color: #444444;
  padding-left: 20px;
  opacity: 1;
  border: none;
  outline: none;
}

.inputDomain::placeholder {
  color: #444444;
}

.inputField::placeholder {
  color: #444444;
}

.sectionBreak {
  display: flex;
  margin: 20px 12px;
  gap: 60px;
  align-items: center;
  justify-content: center;

  font: normal normal 500 20px/30px Kantumruy Pro;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  padding: 0;
}

.TopSectionBreak {
  display: flex;
  margin: 12px 12px;
  gap: 60px;
  align-items: center;
  justify-content: center;

  font: normal normal 500 20px/30px Kantumruy Pro;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  padding-top: 50px;
}

.TopSectionBreak p {
  font: normal normal 500 20px/30px Kantumruy Pro;

  width: 300px;
  height: 29px;
}

.sectionBreak p {
  font: normal normal 500 20px/30px Kantumruy Pro;
  width: 225px;
  height: 29px;
  padding-left: 8px;
}

.sectionDivider {
  display: inline-flex;
  width: 370px;
  height: 4px;
  /* UI Properties */
  background: #dfdfdf 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
}

.inputIcon {
  width: 23px;
  height: 26px;
  /* UI Properties */
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.keyIcon {
  width: 30px;
  height: 15px;
}

.companyIcon {
  width: 32px;
  height: 30px;
  /* UI Properties */
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

/* Password Visibility Toggle */
.toggleButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

/* Checkbox */
.checkboxContainer {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 30px;
  margin-left: 12px;
}

/* .checkboxContainer input {
  margin-right: 12px;
} */

.checkbox {
  display: none;
}

.checkbox + label {
  position: relative;
  cursor: pointer;
  padding-left: 40px; /*Space for custom image */
}

.checkbox + label::before {
  content: "";
  position: absolute;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background: #dfdfdf 0% 0% no-repeat padding-box;
}

.checkbox:checked + label::before {
  background: url("/public/img/checkmark.svg") no-repeat center/cover;
  background-color: #dfdfdf;
  padding-left: 0px;
}

.checkboxText {
  text-align: left;
  font: normal normal normal 18px/34px Kantumruy Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.footerContainer {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin-right: 12px;
}

.footerContainer p {
  background: #ffffff 0% 0% no-repeat padding-box;
  font: normal normal normal 18px/34px Kantumruy Pro;
  letter-spacing: 0px;
  color: #000000;
}

/* Buttons */
.buttonPrimary {
  background: #8967b3 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 15px;
  opacity: 140px;
  font: normal normal 500 28px/40px Kantumruy Pro;
  letter-spacing: 0px;
  color: #ffffff;
  cursor: pointer;
  width: 160px;
}

.buttonPrimary:hover {
  background-color: #4a3cde;
}

.link {
  text-align: left;
  font: normal normal 600 18px/34px Kantumruy Pro;
  letter-spacing: 0px;
  color: #000000;
  align-self: center;
  text-decoration: underline; /* Adds the underline */
  text-underline-offset: 9px; /* Adjusts the distance of the underline from the text */
  text-decoration-color: #8967b3; /* Change the color of the underline */
  text-decoration-thickness: 2px;
}

.continueWithGoogle {
  display: inline-flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  background: #4285f4 0% 0% no-repeat padding-box;
  color: white;
  border: none;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 15px;
  width: 450px;
  cursor: pointer;
  font: normal normal 500 24px/40px Kantumruy Pro;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
