.routerHeader {
  display: flex;
  align-items: center;
  padding-left: 200px;
  gap: 10px; /* Adjust spacing between elements */
  height: 62px;
  /* UI Properties */
  background: #fcfcfc 0% 0% no-repeat padding-box;
  opacity: 1;
}

.placeholder {
  width: 15px;
  height: 25px;
  margin-right: 15px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.headerText {
  text-align: center;
  font: normal normal normal 20px/29px "Kantumruy Pro", sans-serif;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.arrowIcon {
  width: 7px;
  height: 11px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}
